<% provide(:title, "Help") %>
<h1><%=t"help"%></h1>
<p>
  <%=t"gethelp"%>
  <a href="http://www.railstutorial.org/help"><%=t"railstutorial"%></a>.
  <%=t"toget"%>
  <a href="http://www.railstutorial.org/book"><em><%=t"rubyonrails"%></em>
  <%=t"book"%></a>.
</p>
